Flask
Flask-WTF
WTForms
markupsafe
redis
psutil
python-dotenv
NumPy
Pandas
Matplotlib
SciPy
TensorFlow
Keras
Flask
Django
Requests
Beautiful Soup
Scrapy
SQLAlchemy
OpenCV
Pillow
PyTorch
Jupyter Notebook
Turtle
pytest
Pygame
NLTK
piggaga_models
